{% extends 'base.html.twig' %}

{% block title %}Nouvelle sous-catégorie{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Nouvelle sous-catégorie</h1>

    {{ include('sub_category/_form.html.twig') }}

    <a class ="btn btn-outline-primary" href="{{ path('app_sub_category_index') }}">Revenir à la liste</a>
</div>
{% endblock %}
