body {
    /* background-color: skyblue; */
}

h1, h2{
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}

h3{
    font-size: 1rem;
    font-weight: 700;
}
h5 {
    font-weight: bold;
}

.product_link{
    font-family: 'Barlow', sans-serif, Helvetica, sans-serif;
    color : #000000;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}
.card-title{
    color: #3498DB
}

.card-title:hover {
    text-decoration: underline;
    color: #3498DB;
}

.card-title-product-show {
    color: #3498DB;
}
.btn-add-to-card{
    color: #E67E22;
    border-color: #E67E22;
}
.btn-add-to-card:hover{
    color: #ffffff;
    background-color: #E67E22;
}
.card-text{
    color: #2C3E50
}

.img_card {
    width: 100%;
    height: 10rem; /* ou la hauteur que vous souhaitez */
    object-fit: cover;
}