body {
    /* background-color: skyblue; */
}

h1, h2{
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}

h3{
    font-size: 1.2rem;

}
h5 {
    font-weight: bold;
}
h6{
    font-size:1rem;
}

.product_link{
    font-family: 'Barlow', sans-serif, Helvetica, sans-serif;
    color : #000000;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}
.card-title, .card-title-show{
    color: #2C3E50
}
.card-title{
    cursor: pointer;
}

.card-title:hover {
    text-decoration: underline;
    color: #E67E22;
}

.card-title-product-show {
    color: #3498DB;
}
.btn-add-to-card{
    color: #E67E22;
    border-color: #E67E22;
}
.btn-add-to-card:hover{
    color: #ffffff;
    background-color: #E67E22;
}
.card-text{
    color: #2C3E50
}


.card{
    margin-bottom: 1rem;
}
.img_card {
    width: 100%;
   height: 20rem;
    object-fit: cover;
}

