body {
    /* background-color: skyblue; */
}

h1, h2{
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}
h5 {
    font-weight: bold;
}

.product_link{
    font-family: 'Barlow', sans-serif, Helvetica, sans-serif;
    color : #000000;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}