{% extends 'base.html.twig' %}

{% block title %}Paiement Réussi{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 text-center">
            <h1 class="display-4 text-success">Merci pour votre achat !</h1>
            <p class="lead">Votre paiement a été effectué avec succès.</p>
            <p>Une confirmation de votre commande a été envoyée à votre adresse e-mail.</p>

            

            <a href="{{ path('app_home') }}" class="btn btn-primary mt-3">Retour à l'accueil</a>
            <a href="#" class="btn btn-secondary mt-3">Voir mes commandes</a>
        </div>
    </div>
</div>


{% endblock %}
